.form__subscribe-error, .form__subcribe_success {
    margin-bottom: 10px;
    text-align: center;
}
.form__subcribe_success {
    margin: 0 auto;
    font-size: 20px;
    width: 100% !important;
}

.form__feedback-error {
    color: #ff0e19;
}

.reviews .drop-more .text-hide,
.reviews .hide-more .review-page__more {
    display: none;
}
.reviews .review-page.show-more .text-hide {
    display: inline-block;
}

.r-item__author.star-bad:before {
    background-color: #ff0e19;
}


.office__text-empty {
    width: 100%;
    margin-bottom: 15px;
}
.office.office-hide {
    display: none;
}
.card__image img {
    width: 100%;
}
.max_height{
    height: 400px;
    overflow: auto;

}
.max_height_3{
    max-height: 400px;
    overflow: auto;

}
iframe#hotelDescriptionID{
    width: 100%;
    border: none;
    min-height: 250px;
}

.pages__item {
     width: auto;
     margin-left: 3px;
     margin-right: 3px;
 }
.pages__item.pages__item_text.pages__item_text_left {
      margin-left: 10px;
      margin-right: 20px;
  }
.pages_reviews .pages__item {
    margin: 0 5px;
}
.section__block_sort_hidden {
    display: none;
}
h2.block_max_hot_tours {
    width: 100% !important;
}
.select__dropdown {
    z-index: 2;
}
.details_offer_none{
    display: none;
}
.details_offer_flex{
    display: flex;
}
.info__value_image img{
    max-height: unset;
}
.showAllTour{
    cursor: pointer;
}
select#type_sort {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0 10px;
    border-radius: 3px;
    border: solid 0.5px #e0e0e0;
    outline-color: #e0e0e0;
}
select#type_sort option{
    padding-top: 10px;
    outline-color: #e0e0e0;
}

select#type_sort {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.showMore{
    display: none;
}
.card__all button:active{
    background: #f00;
}

.slider.slider_reviews .slider__slide {
    min-height: 424px;
}
.price__value {
    text-align: right;
}
.select .js-Dropdown{
    height: 100%;
}