/* fix styles 25.06.2019 */

.footer .form {
  margin: 0;
}

.country__flag {
  vertical-align: baseline;
}

.select_link {
  height: 20px;
}

.tablebodytext {
  display: none;
}

.country__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.office__gallery .gallery__item{
  width: calc(33% - 10px);
}
.gallery__item img {
  width: 100%;
  height: 100%;
}
.office__content .gallery__item:nth-child(3n){
  margin-right: 13px!important;
}
.office__content .gallery__item:last-child{
  margin-right: 0!important;
}
.office__block{
  margin-right: 15px;
}